
  body {
    margin-left: 3%;
    /* margin-right: 2%; */
      color:#141213;
      /* #222733; #38CC77;  */ 
      /* background-color: #35BDD0; */

     background: linear-gradient(to right, #239cec, #86e9fb, #C6FFDD);
      font-family: 'Syne Mono', monospace;
    }
/* .containers{
/* margin-left:28%;
  margin-right: 17%; */
 

     hr {
       margin-top: 20PX;
      margin-bottom: 20px;
      border:0;
     margin-right:20px ;
       border-top:1px solid #eee; 
      height: 3px;
      opacity: .50;
    }  

    img {
      width: 60%;
border-style:hidden;
border-radius: 120%;
margin-left: 2%;
margin-top: 3%;
    }
h1{
  /* color:#8b1313; */

  font-family: 'Nunito Sans', sans-serif;
  font-size: 300%;
  font-style: normal;
  text-shadow: 3px 3px 10px;
}
h2{
/* color:#8b1313; */
/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Roboto Slab', serif;
font-family: 'Syne Mono', monospace; */
font-family: 'Lato', sans-serif;
font-style:normal;
font-size: 32px;
font-weight: bold;
text-shadow: 3px 3px 10px;
text-decoration: underline;
}
input
{
/* background-color:#DBE8D4 ; */
border:1px solid ;
box-shadow: 0 0 10px;
font-size:30px;
 text-shadow: 3px 3px 7px;
}
textarea
{
  /* background-color#DBE8D4 ; */
  border:1px solid ;
  box-shadow: 0 0 10px;


}
p{
 font-size:30px;
  text-shadow: 3px 3px 7px;
}
li{
  font-size:30px;
   text-shadow: 3px 3px 7px;

}
td
{
  font-size:30px;
   text-shadow: 3px 3px 7px;

}

th{
  font-size:30px;
   text-shadow: 3px 3px 7px;

}
a{
  font-size:30px;
   text-shadow: 3px 3px 7px;
}
/* class tag selector  ---*/

.ex1{
  margin-left: 5%;
}
.ex2{
margin-left: 5%;
}

label{

  font-size:30px;
   text-shadow: 3px 3px 7px;
}

#nav{

background-color:rgb(144, 127, 241,0.2);

}

.nav-item{
  /* margin-left: 3%; */
  color:#239cec;
  font-weight: bold;
  margin-right: 11.5%;
}
.nav-item:hover{
  /* background-color:rgb(144, 127, 241,0.2); */
  border-color: rgb(12, 12, 109);
  
}
.dropdown-menu  {
  background: #ebf7f2;
  
}


.dropdown-item{
  
  font-weight: bold;

}
.dropdown-menu > li > a:hover {
  background-color: rgba(21, 22, 22, 0.4); 
  
}
.dropdown-divider{
  border-color: black;
  margin: 0%;
  height: 100%;
  width:100%;
}

.navbar-toggler
{
background-color: rgb(144, 127, 241,0.2);
  margin-left: 0%;

}

.smallhome{
margin-right:0;
  width:5%;

}

.c1{
 margin-top: .7%; 
 margin-right: .5%;
}

.row{
  --bs-gutter-x:.5rem;
}

.btn-info{

  color:#dee2e6;
  background-color:#030d10;
  border-color:rgb(65,70,75,0.7);

}

a{
  color:#141213;
}