
  body {
    margin-left: 3%;
    /* margin-right: 2%; */
      color:#131f0d;
      /* #222733; */ 
      background-color:rgb(225, 220, 255);
      text-decoration: rgb(30, 37, 32);
      font-family: 'Syne Mono', monospace;
    }
/* .containers{
/* margin-left:28%;
  margin-right: 17%; */
 

     hr {
       margin-top: 2%;
       margin-left: 40%;
  
       margin-right: 35%;
       border-top-style: dotted; 
       border-color: gray;
      width: 6%;
    }  

    img {
      width: 60%;
border-style:hidden;
border-radius: 120%;
margin-left: 2%;
margin-top: 3%;
    }
h1{
  /* color:#8b1313; */

  font-family: 'Nunito Sans', sans-serif;
  font-size: 300%;
  font-style: normal;
  text-shadow: 3px 3px 10px;
}
h2{
/* color:#8b1313; */
/* font-family: 'Nunito Sans', sans-serif; */
font-family: 'Roboto Slab', serif;
font-family: 'Syne Mono', monospace;
font-style:normal;
font-size: 32px;
font-weight: bold;
text-shadow: 3px 3px 10px;
text-decoration: underline;
}
input
{
/* background-color:#DBE8D4 ; */
border:1px solid ;
box-shadow: 0 0 10px;
font-size:30px;
 text-shadow: 3px 3px 7px;
}
textarea
{
  /* background-color#DBE8D4 ; */
  border:1px solid ;
  box-shadow: 0 0 10px;


}
p{
 font-size:30px;
  text-shadow: 3px 3px 7px;
}
li{
  font-size:30px;
   text-shadow: 3px 3px 7px;

}
td
{
  font-size:30px;
   text-shadow: 3px 3px 7px;

}

th{
  font-size:30px;
   text-shadow: 3px 3px 7px;

}
a{
  font-size:30px;
   text-shadow: 3px 3px 7px;
}
/* class tag selector  ---*/

.ex1{
  margin-left: 5%;
}
.ex2{
margin-left: 5%;
}

label{

  font-size:30px;
   text-shadow: 3px 3px 7px;
}

#nav{

background-color:rgb(144, 127, 241,0.2);

}

.nav-item{
  /* margin-left: 3%; */
  margin-right: 11%;
}
.nav-item:hover{
  /* background-color:rgb(144, 127, 241,0.2); */
  border-color: royalblue;
  
}
.dropdown-menu > li > a {
  color: rgb(26, 23, 23);
}

.dropdown-menu > li > a:hover {
  background-color: rgba(32, 50, 151, 0.3); 
  
}
.dropdown-divider{
  border-color: black;
  margin: 0%;
  height: 100%;
  width:100%;
}

.navbar-toggler
{
background-color: rgb(144, 127, 241,0.2);
  margin-left: 0%;

}

.smallhome{
margin-right:0;
  width:5%;

}

.c1{
 margin-top: .7%; 
 margin-right: .5%;
}

.row{
  --bs-gutter-x:.5rem;
}

.btn-info{

  color:#dee2e6;
  background-color:#030d10;
  border-color:rgb(65,70,75,0.7);

}